/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #B1BDBB;
  --secondary-color: #003333;
}

* {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--primary-color);
}

/* NAV BAR */
.navbar {
  background-color: var(--primary-color);
  padding: 0em;
  border-bottom: 0.19rem solid var(--secondary-color);
  display: flex;
  /* justify-content: center; */
  /* flex-direction: row; */
  justify-content: space-between;
}

.navbar-toggler {
  
}

.logo {
  width: 6rem;
}

.container{
  padding: 0em;
}

 /*----- MENU LINKS ------- */
 nav a.nav-link {
  font-weight: 400;
  letter-spacing: 0.0375 rem;
  cursor: pointer;
 }

 nav ul li {
  text-transform: uppercase;
 }

 .navbar-nav > li > a {
  margin-right: 1rem;
  color: var(--secondary-color);
  border-top: 0.19rem solid var(--primary-color);
  font-size: 1.25em;
 }

 .navbar-brand {
  max-width: 30rem;
  padding: 0 !important;
  height: 6rem !important;
 }

 .brandName {
  font-family: "DM Serif Text", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--secondary-color);
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  vertical-align: middle;
  padding-left: 1em;
  cursor: default;
 }

 .navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.19rem solid var(--secondary-color);
 }

 .navbar-nav > li > a:hover {
  border-top: 0.19rem solid var(--secondary-color);
 }


 /* HEADER */

 .image-banner {
  display: flex;
  justify-content: center;
  width: auto;
 }

 .image-banner img {
  width: 70%;
 }

 .header-text {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
 }

 .header-wrapper{
  background-color: var(--primary-color);
 }
 .header-wrapper h1{
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 0.07em;
  padding-top: 0.1em;
  font-size: 2em;
  background-color: var(--primary-color);
}

.typed-text {
  font-size: 1.5em;
  letter-spacing: 0.07em;
  font-weight: 500;
}

/* ABOUT US */
.about-us-wrapper {
display: flex;
justify-content: center;
/* border: 5px solid #003333; */
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-img {
  width: 100%;
  border-radius: 50%;
  padding: .3em;
  border: 40px groove var(--secondary-color);
}

.about-us-heading {
  text-transform: uppercase;
  color: var(--secondary-color);
  text-align: center;
}

.about-us-text {
  font-size: 1.4em;
  text-align: left;
}

/* SERVICES */

.services {
  text-align: center;
  padding-bottom: 2rem;
}

.services h1 {
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.services .circle {
  position: relative;
  margin: 1rem auto;
  background: var(--secondary-color);
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
}

.services .icon {
  font-size: 5rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.one-row {
  border-bottom: 5px solid var(--primary-color);
}

.one-row:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-bottom: 5px solid var(--secondary-color);
}

.services p {
  font-size: 1.15em;
}