/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #B1BDBB;
  --secondary-color: #003333;
}

* {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--primary-color);
}

html, body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0;
}


#home, #about-us, #services, #contact-us, #resources {
  scroll-margin-top: 110px;
}
/* NAV BAR */
.navbar {
  background-color: var(--primary-color);
  padding: 0em;
  border-bottom: 0.19rem solid var(--secondary-color);
  display: flex;
  /* justify-content: center; */
  /* flex-direction: row; */
  justify-content: space-between;
}

.logo {
  width: 6rem;
}

.container{
  padding: 0em;
}

 /*----- MENU LINKS ------- */
 nav a.nav-link {
  font-weight: 400;
  letter-spacing: 0.0375rem;
 }

 nav ul li {
  text-transform: uppercase;
 }

 .navbar-nav > li > a {
  margin-right: 1rem;
  color: var(--secondary-color);
  border-top: 0.19rem solid var(--primary-color);
  font-size: 1.25em;
 }

 .navbar-brand {
  max-width: 22em;
  padding: 0 !important;
  height: 6rem !important;
 }

 .brandName {
  font-family: "DM Serif Text", serif;
  font-weight: 500;
  color: var(--secondary-color);
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  vertical-align: middle;
  padding-left: 0.5em;
 }

 .navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.19rem solid var(--secondary-color);
 }

 .navbar-nav > li > a:hover {
  border-top: 0.19rem solid var(--secondary-color);
 }


 /* HEADER */

 .image-banner {
  display: flex;
  justify-content: center;
  width: auto;
 }

 .image-banner img {
  width: 70%;
 }

 .header-text {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
 }

 .header-wrapper{
  padding-top: 9em;
  padding-bottom: 5em;
 }
 .header-wrapper h1{
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 0.07em;
  padding-top: 0.1em;
  font-size: 2em;
  background-color: var(--primary-color);
}

.typed-text {
  font-size: 1.5em;
  letter-spacing: 0.07em;
  font-weight: 500;
}

/* ABOUT US */

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-img {
  width: 100%;
  border-radius: 50%;
  padding: .3em;
  border: 40px groove var(--secondary-color);
}

.about-us-wrapper h1{
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-align: center;
}

.about-us-text {
  font-size: 1.4em;
  text-align: left;
}

/* SERVICES */

.services {
  text-align: center;
  padding-bottom: 2rem;
}

.services h1 {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.services .circle {
  position: relative;
  margin: 1rem auto;
  background: var(--secondary-color);
  border-radius: 50%;
  height: 6em;
  width: 6em;
}

.services .icon {
  font-size: 3.5rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.one-row {
  border-bottom: 5px solid var(--primary-color);
}

.one-row:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-bottom: 5px solid var(--secondary-color);
}

.services p {
  font-size: 1.15em;
  text-align: left;
}

/* RESOURCES */
.resources {
  text-align: center;
  padding-bottom: 2rem;
}

.carousel {
  padding: 2em;
}

.carousel-wrapper {
  width: 50%;
}

.resources-content {
  align-items: center;
}

.resources h1 {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}


.resource-card {
  padding: 1em;
  border-bottom: 5px solid var(--primary-color);
  height: 100%;
  max-height: 45rem;
  max-width: 30rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border-radius: 10%; */
}

.resource-card:hover {
  border-bottom: 5px solid var(--secondary-color);
}

.resource-card a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
}

.resource-card a:hover {
  text-decoration: underline;
}

.resource-card img {
  max-height: 15rem;
  max-width: 25rem;
}

.resource-card {
  font-size: 1.15em;
  color: var(--secondary-color);
}

/* CONTACT US */
.contact-us {
  text-align: center;
  padding-bottom: 2rem;
}

.contact-us h1 {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.contact-us p {
  font-size: 1.15em;
  text-align: left;
}

.contact-form input, .contact-form textarea {
  background: none;
  border: 0;
  border-bottom: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}


.contact-form input:focus, .contact-form textarea:focus {
  background: none;
  box-shadow: none;
  border: none;
}


.contact-form textarea {
  height: 15rem;
}

.contact-form {
  display: flex;
  /* flex-direction: ; */
}

.contact-1{
  width: 50%;
  padding-right: 2em;
}
.contact-2{
  width: 60%;
}

.contact-btn {
  border: 5px solid var(--secondary-color);
  border-radius: 35%;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  width: 5em;
  font-size: 1.25em;
  justify-content: center;
  color: var(--secondary-color);
  text-align: center;
}

.contact-btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}


.line {
  position: relative;
  width: 0;
  height: 0.125rem;
  background: var(--secondary-color);
  display: inline-block;
  top: -1rem;
}

input:focus+.line, textarea:focus+.line{
  width: 100%;
  transition: width 0.5s ease-in-out;
}

.error-message {
  color: var(--primary-color);
  background: var(--secondary-color);
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  width: 100%;
  letter-spacing:  0.0375rem;
  font-size: 0.83em;
}

.success-message {
  font-weight: 500;
  background: var(--secondary-color);
  color: var(--primary-color);
}


/* FOOTER */

.footer{
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 3rem;
}

.footer .container * {
  background: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 400;
}

.footer a {
  text-decoration: none;
}

.footer a:hover{
  cursor: pointer;
  font-weight: 600;
  /* color */
}

.footer .row{
    background: var(--secondary-color);
    color: var(--primary-color);
}

.footer-social {
  padding: 1em;
  margin: 1em;
}